<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.platform.doc.user"
   name="%pluginName"
   version="2.1.1"
   provider-name="%providerName">

   <runtime>
   </runtime>

<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="topics_GettingStarted.xml">
      </toc>
      <toc
            file="topics_Concepts.xml">
      </toc>
      <toc
            file="topics_Tasks.xml">
      </toc>
      <toc
            file="topics_Reference.xml">
      </toc>
   </extension>
<!-- ============================================================================= -->
<!-- F1 context files                                                              -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Workbench.xml"
            plugin="org.eclipse.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Workbench.xml"
            plugin="org.eclipse.ui.workbench.texteditor">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_ExternalTools.xml"
            plugin="org.eclipse.ui.externaltools">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_ExternalTools.xml"
            plugin="org.eclipse.ant.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Team.xml"
            plugin="org.eclipse.team.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Team_CVS.xml"
            plugin="org.eclipse.team.cvs.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Compare.xml"
            plugin="org.eclipse.compare">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Search.xml"
            plugin="org.eclipse.search">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_Update.xml"
            plugin="org.eclipse.update.ui">
      </contexts>
   </extension>

</plugin>
